<!-- /templates/page.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
    {% include 'social-icons' %}
    </header>
    <header class="page-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="content-container narrow rte">
      {{ page.content }}
    </div>
  </div>
</section>
  <div style="background-color: #fafafa; width: 100%; padding: 4em 0">
    <h2 style="text-align: center;">Thanks for stopping by!</h2>
    <p style="text-align: center;"><em>We'd really love your support, fellow freediver. Follow us on: </em></p>
    <p style="text-align: center;"><em><a href="https://www.facebook.com/freedivera/"><img alt="Facebook logo" src="//cdn.shopify.com/s/files/1/1590/8583/files/freedivera-facebook_small.png?v=1492809155" style="float: none;"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/freedivera"><img alt="Twitter logo" src="//cdn.shopify.com/s/files/1/1590/8583/files/freedivera-twitter_small.png?v=1492809163" style="float: none;"></a>&nbsp;&nbsp;&nbsp; <a href="https://www.instagram.com/freedivera"><img alt="Instagram logo" src="//cdn.shopify.com/s/files/1/1590/8583/files/freedivera-instagram_small.png?v=1492809159" style="float: none;"></a><br></em></p>
  </div>

